@page "/"
@using DailyFood.Shared;
@inject HttpClient Http;

<h3>Home</h3>
<p>Total proteins is: @GetTotalProtein()</p>
<button @onclick="AddEntry">Add</button>

@foreach (var Entry in FoodEntries)
{
    <FoodInput FoodEntry="Entry" InputOptions="suggestions"></FoodInput>
}




@code {
    RecipeData data = new ();

    private List<Food> suggestions = new List<Food>();

    List<FoodEntry> FoodEntries = new List<FoodEntry>();

    private void AddEntry ()
    {
        Console.WriteLine("Test");
        FoodEntry newEntry = new FoodEntry();
        newEntry.Date = DateTime.Now;
        newEntry.FoodEntryChanged += EntryChanged;
        FoodEntries.Add(newEntry);

    }

    private void EntryChanged (object? sender, EventArgs e)
    {
        StateHasChanged();
    }


    private float GetTotalProtein ()
    {
        float total = 0;
        foreach (var Entry in FoodEntries)
        {
            if (Entry.FoodType != null)
                total += Entry.Weight * 0.01f * Entry.FoodType.Getprot100g();
        }
        return total;
    }

    protected async override Task OnInitializedAsync()
    {
        data = await Http.GetFromJsonAsync<RecipeData>("/RecipeData") ?? new();
        foreach (var commodity in data.commodities)
        {
            suggestions.Add(commodity);
        }
        foreach (var recipe in data.recipes)
        {
            suggestions.Add(recipe);
        }
    }
}
