@using System.Collections.Generic
@using DailyFood.Shared

<div class="d-flex">
    <FoodTypeInput InputOptions="@suggestions" InputOptionSelected="FoodChosen"></FoodTypeInput>
    <InputNumber @bind-Value="FoodEntry.Weight"></InputNumber>
    <InputDate @bind-Value="FoodEntry.Date"></InputDate>
</div>


@code {
    [Parameter, EditorRequired]
    public FoodEntry FoodEntry { get; set; } = new();


    private List<Food> suggestions = new List<Food>()
    {
        new Commodity() {name="Apple", prot100g="2"},
        new Commodity() {name="Bread", prot100g="5"},
        new Commodity() {name="Tuna", prot100g="25"}
    };

    private void FoodChosen (Food food)
    {
        FoodEntry.FoodType = food;
    }
}

